version: '3.9'

services:
  backend:
    build:
      context: dpp_api/.
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build:
      context: dpp_app/.
    container_name: frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:5000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge